= form_with(model: @historical_information, class: "needs-validation") do |form|
  .d-flex.flex-column.align-items-center.p-4
    .d-flex.flex-column.align-items-center
      .row.g-6
        .col-md-6
          = form.label :latitude, class: "form-label"
          = form.number_field :latitude, class: "form-control", step: "0.000001", value: @historical_information.latitude

        .col-md-6
          = form.label :longitude, class: "form-label"
          = form.number_field :longitude, class: "form-control", step: "0.000001", value: @historical_information.longitude

        .col-12
          %div.fs-6.fw-bold.text-muted.text-wrap.text-center.py-4
            If possible coordinates are automatically detected from your location. If the fields appear empty, please visit <a href="https://gpscoordinates.io/" target="_blank">gpscoordinates.io</a> to manually enter your coordinates.

      .row.g-6
        .col-md-6
          = form.label :start_date, class: "form-label"
          = form.date_field :start_date, class: "form-control", value: @historical_information.start_date

        .col-md-6
          = form.label :end_date, class: "form-label"
          = form.date_field :end_date, class: "form-control", value: @historical_information.end_date

    .col-12.p-4
      = form.submit "Search", class: "btn btn-primary w-100"