
.d-flex.align-items-center.chart-container.p-4.w-full
  %canvas{data: {controller: "chart", "chart-target":"chart", "chart-data-value": @historical_information.data.to_json, action: "chart#initializeChart"}}

.button.d-flex.justify-content-center.align-items-center.p-4
  = link_to 'Back to Search', root_path(@historical_information), class: "btn btn-primary w-100"

%div.align-items-center.p-4
  %table.table.table-bordered{id: "historical-data"}
    %thead.thead-dark
      %tr
        %th Date
        %th Sunrise
        %th Golden Hour
        %th Sunset
    %tbody
      - if @historical_information.present?
        - @historical_information.data.each do |day|
          %tr
            %td 
              = day["date"]
            %td 
              = day["sunrise_time"]
            %td 
              = day["golden_hour"]
            %td 
              = day["sunset_time"]
        
      - else
        %tr
          %td.col-4
            No data available

  .button.d-flex.justify-content-center.align-items-center.p-4
    = link_to 'Back to Search', root_path(@historical_information), class: "btn btn-primary w-100"


