!!!
%html
  %head
    %title
      = content_for(:title) || "Miguel Testing Zone"

    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true

  %body.bg-danger
    = yield


